@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: "Poppins", sans-serif;
  background: rgb(240, 240, 240);
  margin: 0;
  padding-top: 80px;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: rgb(173, 173, 173);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(134, 134, 134);
}

.ReactModal__Content {
  opacity: 0;
  transform: translateY(-100px);
  transition: all 500ms ease-in-out;
}
.ReactModal__Content--after-open {
  opacity: 1;
  transform: translateY(0px);
}
.ReactModal__Content--before-close {
  opacity: 0;
  transform: translateY(-100px);
}

table th{
  background: rgb(12, 99, 187);
  color: white;
  padding: 3px 20px;
}
table td {
  padding: 1rem;
  white-space: nowrap;
  font-size: 0.9rem;
  text-align: center;
}

table tbody tr:nth-child(odd) {
  background-color: #fff;
}
table tbody tr:nth-child(even) {
  background-color: #9fafc3b6;
}
.submissionText{
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}
.status{
  color: green;
  font-weight: 700;
}
.timestamp{
  font-size: .8rem;
}
.linkTag{
  text-decoration: none;
  color: green;
  font-weight: 600;
  margin: 0px 10px;
}